.btn{
  background: $black;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: $font-size-base;
  font-weight: 700;
  padding: 18px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  &:hover{
    color: $yellow;
  }
}
