.box-container {

  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;

  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-md;
  }
}
