*, *:before, *:after {
  box-sizing: border-box;
  box-sizing: inherit;
}

body{
  font-family: $font-family;
  font-weight: normal;
  line-height:1;
  margin: 0;
  padding: 0;
}

div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
abbr, address, cite, code,
em, img,
small, strong,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, footer, header, menu, nav, section{
  background:transparent;
  border:0;
  font-size:100%;
  margin:0;
  padding:0;
  outline:0;
  vertical-align:baseline;
}

nav {
  ul {
   list-style:none;
  }
}

a {
 background:transparent;
 font-size:100%;
 margin:0;
 padding:0;
 vertical-align:baseline;
}
