//COLORS

$color-white: #fff;
$color-black: #000;
$color-cart-price: #dfbd00;
$color-product-text-1: #313135;
$color-grey-subtotal: #626264;

//BACKGROUNDS
$color-background: #fff;
$cart-background: #202025;
