@import "grid-settings",
        "../global/structure";

// INIT AND GENERATE CLASSES
@include gridle_generate_classes();

@include gridle_register_state (tablet, (
  min-width: 481px,
  max-width: 1024px
));

// EVEN WITH FULL CUSTOM QUERIES :
@include gridle_register_state (landscape, (
  query: "(orientation : landscape)"
));
