.add-to-bag {
    display: block;
    visibility: hidden;
    display: block;
    margin: 0.2em auto 0;
    width: 12em;
    padding: 1em;
    border-radius: 2px;
    background-color:  #000;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
    height: 50px;
    color:  #fff;
}

li:hover .add-to-bag {
    visibility: visible;
}
