.bag-title {
    margin: 2em 0 1.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
}

.bag-list {
    padding: 0;
    margin: 0;
}

.bag-list-item {
    margin: 0;
    padding: 0 2em 2em;
    text-align: left;
}

.bag-list-item:before {
    content: '';
    display: block;
    margin-bottom: 1.5em;
    height: 0.125em;
    width: 90%;
    background-color: #131316;
}

.bag-item-description {
    font-size: 0.9em;
    color: #999;
}

.bag-item-description p {
    margin-bottom: 0.2em;
}

.bag-item-title {
    color: #fff;
}

.bag-item-image {
    float: left;
}

.bag-item-price {
    font-weight: 400;
    color: #dfbd00;
}

.bag-subtotal {
    margin-top: 1em;
}

.bag-subtotal-label {
    margin: 2em 1em;
    text-transform: uppercase;
}

.bag-subtotal-values {
    float: right;
    margin: 2em 1em;
}

.bag-subtotal-price {
    font-size: 1.5em;
    font-weight: 400;
    color: #dfbd00;
}

.bag-subtotal-installments {
    display: block;
    font-size: 0.865em;
    text-transform: uppercase;
    color: #fff;
}

.bag-btn-buy {
    display: block;
    clear: both;
    margin: 1em auto;
    padding: 1em;
    border: none;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
}

.bag-btn-buy:hover {
    opacity: 0.8;
}

.bag-item-remove {
    padding: 0.5em;
    font-size: 0.875em;
    color: #000;
    cursor: pointer;
}

.removing .bag-item-description {
    text-decoration: line-through;
}

.removing.bag-list-item {
    background-color: rgba(0, 0, 0, 0.4)
}

@media (min-width: 390px) {
}

