body {
    font-family: OpenSans, 'Sans serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #313135;
}

strong {
    font-weight: bold;
}

ul {
    list-style: none;
}

.page {
    position: relative;
    padding: 1em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.page.show-bag {
    position: static;
    padding: 0;
}

.show-bag .products {
    display: none;
}

.show-bag .bag {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #202025;
    color: #fff;
}

@media (min-width: 767px) {
    .page.show-bag {
        right: 17em;
    }

    .show-bag .products {
        display: block;
        width: 20%;
    }

    .show-bag .bag {
        width: 70%;
        right: 0;
    }
}

@media (min-width: 1086px) {
    .show-bag .bag {
        width: 75%;
    }
}
