.show-bag .product-item {
    width: 100%;
}

.product-item {
    margin: 1em 0;
}

.product-price {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    color: #313135;
}

.product-price:before {
    content: '';
    display: block;
    height: 0.125em;
    width: 0.938em;
    margin: 0 auto 0.625em;
    background-color: #dfbd00;
}

.product-name {
    margin-top: 1em;
}

.product-image {
    background-color: grey;
    width: 180px;
    height: 230px;
    margin: 0 auto;
}

.product-installments {
    display: block;
    margin: 0.5em 0;
    font-size: 0.875em;
    color: #999;
}

.product-sizes {
    display: block;
    margin: 0.5em auto;
    visibility: hidden;
    width: 15em;
    height: 2em;
    padding: 0.1em 1em;
    border: none;
    background-color: #202025;
    color: #fff;
}

.product-sizes:hover {
    opacity: 0.9;
}

.add-to-bag {
    display: block;
    visibility: hidden;
    display: block;
    width: 15em;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 2px;
    background-color: #202025;
    cursor: pointer;
    color: #fff;
}

.add-to-bag:hover {
    opacity: 0.9;
}

.product-item:hover .add-to-bag {
    visibility: visible;
    color: #fff;
}

.product-item:hover .product-sizes {
    visibility: visible;
}

.error .product-sizes {
    background-color: red;
    border-color: red;
}
