/*===== Font =====*/
base-font-family = 'Open Sans', Arial, sans-serif

/*===== Text =====*/
base-text-color = #313135
subtext-color = #999999

/*===== Highlights =====*/
highlight-color = #dfbd00

/*===== main backgrounds ======*/
bag-background = #202025