
transition(content)
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

border-radius(radius)
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -ms-border-radius arguments
  border-radius arguments

transform(content)
  -webkit-transform: arguments
  -moz-transform: arguments
  -ms-transform: arguments
  transform: arguments

filter(content)
  -webkit-filter: arguments
  -moz-filter: arguments
  -ms-filter: arguments
  filter: arguments

transform-origin(content)
  -webkit-transform-origin: arguments
  -moz-transform-origin: arguments
  -ms-transform-origin: arguments
  transform-origin: arguments

bg-gradient(content)
  background: -webkit-linear-gradient( arguments )
  background: -moz-linear-gradient( arguments )
  background: -ms-linear-gradient( arguments )
  background: -o-linear-gradient( arguments )
  background: linear-gradient( arguments )

//COLORS
dark_grey = #202025
darker_grey = #131316
yellow = #E1C110

