/**
 * Bag
 */

.Bag {
  width: 515px;
  float: left;

  padding: $spacing-unit;

  background-color: $color-dark-gray;
  color: $color-white;
}

  .Bag-header {
    text-align: center;

    padding-top: $spacing-unit--large;
    padding-bottom: $spacing-unit--large;
  }

    .Bag-icon {
      display: inline-block;

      width: 33px;
      height: 40px;
      background-image: url("../images/bag-icon.png");
      background-repeat: no-repeat;

      // position reference to children
      position: relative;
    }

      .Bag-badge {
        position: absolute;
        bottom: -7px;
        right: -7px;
        display: block;

        width: 20px;
        height: 20px;

        font-size: 12px;
        font-weight: 600;
        text-align: center;
        line-height: 23px;
        text-indent: 1px;

        border-radius: 50%;

        color: $color-dark-gray;
        background-color: $color-gold;
      }

    .Bag-title {
      display: inline-block;

      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;

      // Hard-alignment
      position: relative;
      top: -9px;

      margin-top: 0;
      margin-bottom: 0;
      margin-left: $spacing-unit;
    }

  .Bag-footer {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;

    @include clearfix;
  }

    .Bag-footer-label {
      float: left;

      font-size: 14px;
      text-transform: uppercase;
      color: $color-medium-gray;
    }

    .Bag-footer-price {
      float: right;
      text-align: right;
      font-size: 24px;

      color: $color-gold;
    }
