/**
 * Button
 */

.Button {
  padding: $spacing-unit--small $spacing-unit;
  background-color: $color-gold;
  color: $color-dark-gray;

  font-weight: 600;
  font-size: 14px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.Button--dark {
  color: $color-white;
  background-color: $color-black;
}

.Button--disabled {
  color: $color-white;
  background-color: $color-medium-gray;

  opacity: 0.7;
  pointer-events: none;
}

.Button--fill {
  display: block;
  width: 100%;
}
