/**
 * ProductPrice
 */

.ProductPrice {

}

  .ProductPrice-value {
    display: block;
  }

    .ProductPrice-highlight {
      font-weight: 600;
    }

  .ProductPrice-installments {
    display: block;

    margin-top: 2px;

    font-size: 0.8em;

    color: $color-medium-gray;
    opacity: 0.7;
  }


.ProductPrice--highlight {

  .ProductPrice-highlight {
    font-size: 1.6em;
  }

}
