.cart-image{
    width: 33px;
    height: 40px;
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
}

.cart-image-circle{
    color:#000000;
    text-align: center;
    position: relative;
    left: 26px;
    top: 32px;
    font-size: 9px;
    background: #dfbd00;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

}

#cart-container {


    color:#FFFFFF;
    background-color: #202025;
    height: 100%;
    position: fixed;
    right: -500px;
    top: 0;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    transition: right 0.2s linear;
    width: 500px;
    z-index: 9001;/* IT'S OVER 9000! */
}

#cart-container  #cartToggle {
    background: #202025;
    display: block;
    position: relative;
    height: 40px;
    left: -50px;
    top: 75px;
    width: 50px;
}

#cart-container  #cartToggle.cartOpen{
    display: none;
}

.open {
    right: 0 !important;
    overflow: auto;
}

.cart-item{
    padding: 10px;
    width: 480px;
    height: 80px;
    opacity: 1;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
.highlight{
color:#dfbd00;
}

.cart-item:hover {
    background-color: #000;

}

.cart-item:hover .cart-item-remove{
    color: #fff;
}

.cart-item-quantity {
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}


.cart-spacer-black-line{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #000;
    /*margin: 1em 0;*/
    padding: 0;
    width: 400px;
}

.cart-item-details{
    font-size: 12px;
    color:#999999;
}
.cart-item-price {
    color:#dfbd00;
}

.cart-item-remove {
    font-size: 27px;
    color:#000000;
}

.removeItemFromCart div, .removeItemFromCart span{
    text-decoration: line-through;
}


#cart-content-footer{
    width: 100%;
    background-color: #000;
}
/*nav #cartToggle span {*/
    /*background: white;*/
    /*display: block;*/
    /*height: 10%;*/
    /*left: 10%;*/
    /*position: absolute;*/
    /*top: 45%;*/
    /*width: 80%;*/
/*}*/


/*nav #cartToggle span:after { top: 250%; }*/

/*nav a:nth-child(n+2) {*/
    /*color: white;*/
    /*display: block;*/
    /*font-size: 2.5em;*/
    /*margin: 30px 0 30px 30px;*/
/*}*/

/*nav a:nth-child(n+2):after {*/
    /*background: #ffa53e;*/
    /*content: '';*/
    /*display: block;*/
    /*height: 2px;*/
    /*-moz-transition: width 0.2s;*/
    /*-o-transition: width 0.2s;*/
    /*-webkit-transition: width 0.2s;*/
    /*transition: width 0.2s;*/
    /*width: 0;*/
/*}*/





