
.hide{
    display: none;
}

.open {
    right: 0 !important;
    overflow: auto;
}

.gray-text{
    color:#858587;
}
/* CART LAYOUT*/
.cart-image{
    width: 33px;
    height: 40px;
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
}

.cart-image-circle{
    color:#000000;
    text-align: center;
    position: relative;
    left: 26px;
    top: 32px;
    font-size: 10px;
    background: #dfbd00;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

}

#cart-container {


    color:#FFFFFF;
    background-color: #202025;
    height: 100%;
    position: fixed;
    right: -500px;
    top: 0;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    transition: right 0.2s linear;
    width: 500px;
    z-index: 9001;/* IT'S OVER 9000! */
}

#cart-container  #cartToggle {
    background: #202025;
    display: block;
    position: relative;


    width: 50px;
    height: 43px;
    padding: 10px;
    left: -55px;
    top: 75px;

}

#cart-container  #cartToggle.cartOpen{
    display: none;
}


#cart-header{
    height: 100px;
    margin: auto;
    width: 115px;
    margin-top: 30px;
}
#cart-header-text{
    margin-left: 15px;
    margin-top: 15px;
}
/*#cart-footer{*/
    /*width: 100%;    */
/*}*/

#cart-footer-pricing{
   height: 60px;
    padding: 10px;

}


#cart-total-price{
    color:#dfbd00;
    font-size: 24px;
}

#cart-instalments-info{
    font-size: 11px;
}

#cart-buy-btn, #cart-empty-message{
    background-color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 480px;
    text-align: center;
    height: 30px;
    margin: 10px;
    padding-top: 15px;
}

/* CART ITEM LIST */

.cart-item{
    padding: 10px;
    width: 480px;
    height: 80px;
    opacity: 1;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}




.highlight{
color:#dfbd00;
}

.cart-item:hover {
    background-color: #000;

}

.cart-item:hover .cart-item-remove{
    color: #fff;
}

.cart-item-quantity {
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}


.cart-spacer-black-line{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #000;
    /*margin: 1em 0;*/
    padding: 0;
    width: 400px;
}

.cart-item-image{
    width: 15%;
}
.cart-item-details{
    font-size: 12px;

    width: 65%
}
.cart-item-price-wrapper{
    width: 20% ; text-align: right
}
.cart-item-price {
    color:#dfbd00;
}

.cart-item-remove {
    font-size: 27px;
    color:#000000;
}

.removeItemFromCart div, .removeItemFromCart span{
    text-decoration: line-through;
}






