body{
    font-family: 'Open Sans', sans-serif;
}

.product-list{
    /*width:100%;*/

}
.product{
    float: left;
    margin: 0px 10px 40px 10px ;
    max-width: 210px;
}

.product-image-holder{

    padding: 0px 15px;
    margin-bottom: 5px;

}
.product-image-holder img{
    width: 180px;
}

.product-info-holder{
    width:100%;
    font-size: 13px;
    color: #313135;

    text-align: center;
}

.visual-spacer{
    margin: auto;
    height: 2px;
    width: 20px;
    background-color: #dfbd00;
}

.product-name{
    margin-bottom: 5px;

}

.product-pricing{
    margin-bottom: 5px;
}

.product-price{
    font-size: 12px;
}
.product-price1{
    font-size: 24px;
    font-weight: bold;
}
.product-installment{
    color: #999999;
}
