/**
 * Spacing
 */

// base
$spacing-unit: 24px;

// decrease scale
$spacing-unit--small: 16px;
$spacing-unit--tiny: 8px;

// increase scale
$spacing-unit--large: 32px;
$spacing-unit--big: 40px;
$spacing-unit--huge: 60px;
