body {
  font-size: 16px;
  font-family: 'Helvetica', 'Open Sans', sans-serif;
  color: #333;
}
.container {
  transition: all 0.2s ease-in-out;
  position: relative;
  width: calc(100% - 500px);
  margin: 0;
}
.btn {
  padding: 15px;
  text-align: center;
  font-weight: 800;
  font-size: 0.75em;
  border: 0;
  text-transform: uppercase;
}
.btn.btn_dark {
  background-color: darker_grey;
  color: #fff;
}
.btn.btn_block {
  display: block;
  width: 100%;
}
