.cart {
  position: fixed;
  padding: 0 20px 20px;
  right: 0;
  top: 0;
  height: 100%;
  width: 500px;
  background-color: dark_grey;
  overflow: auto;
}
.cart .cart__header {
  padding: 40px 0;
  font-weight: 400;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 0.03725em;
  text-align: center;
}
.cart .cart__header span {
  position: relative;
  line-height: auto;
}
.cart .cart__header span:after {
  content: attr(data-count);
  position: absolute;
  width: 17px;
  height: 17px;
  right: -12px;
  bottom: -2px;
  background-color: #ff0;
  color: dark_grey;
  font-weight: 800;
  border-radius: 50%;
  text-align: center;
  font-size: 0.4em;
  line-height: 1.9em;
}
.cart .cart__list {
  width: 100%;
}
.cart .cart__list .list__item {
  position: relative;
  display: block;
  padding: 20px 0 20px 60px;
  border-top: 2px solid darker_grey;
}
.cart .cart__list .list__item .item__remove {
  position: absolute;
  color: darker_grey;
  top: 0;
  right: 0;
  font-size: 1.2em;
  font-weight: 800;
  cursor: pointer;
}
.cart .cart__list .list__item .item__figure {
  position: absolute;
  background-color: #fff;
  width: 45px;
  height: 45px;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}
.cart .cart__list .list__item .item__title {
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
}
.cart .cart__list .list__item .item__title .title__details {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: 400;
  color: #aaa;
}
.cart .cart__list .list__item .item__price {
  position: absolute;
  right: 0;
  bottom: 20px;
  color: #ff0;
  font-weight: 400;
}
.cart .cart__subtotal {
  position: relative;
  padding: 30px 0;
  border-top: 2px solid darker_grey;
}
.cart .cart__subtotal .subtotal__text {
  float: left;
  color: #aaa;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
}
.cart .cart__subtotal .subtotal__value {
  font-size: 1.5em;
  font-weight: 400;
  color: #ff0;
  text-align: right;
}
.cart .cart__subtotal .subtotal__value small {
  color: #aaa;
  font-size: 0.5em;
}
