.products__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  width: 100%;
}
.products__list .list__item {
  position: relative;
  width: 30%;
  margin: 0 auto 20px;
  font-weight: 400;
  text-align: center;
}
.products__list .list__item .item__figure {
  max-width: 85%;
  margin: 0 auto 10px;
  height: 200px;
  background: #aaa;
}
.products__list .list__item .item__title {
  font-size: 0.875em;
  font-weight: 300;
  margin: 0 auto 15px;
}
.products__list .list__item .item__price {
  position: relative;
  line-height: 1.5em;
  font-size: 0.75em;
}
.products__list .list__item .item__price .price__line-top {
  position: absolute;
  width: 14px;
  height: 2px;
  left: 50%;
  margin-left: -7px;
  top: -8px;
  background-color: #e1c110;
}
.products__list .list__item .item__price strong {
  font-size: 1.8em;
}
.products__list .list__item .item__price small {
  color: #777;
  font-size: 1.1em;
}
