$base0: #333;
$base1: #666;
$base2: #999;
$base3: #CCC;

$blue3: #4394CA;
$blue4: #0868AC;
$blue5: #2C4150;

$bk: #FAFAFA;
$bkg: #E5E5E5;
$bkgg: #DADADA;


$bkb: #E7F4Fe;

$tbk: rgba(248, 248, 248, 0.9);

$buy: #8DCDE3;
$buybk: #C6D4F1;
$buyline: #538AF1;

$rent: #8DAAE3;
$rentbk: #C6E6F1;
$rentline: #4FC2EA;

$mortgage: #E3B18D;


$body: #FFF;
$text-color: #313135;
$yellow-detail-card: #DFBD00;
