.cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 500px;
	height: 100vh;
	padding: 0 20px;
	background-color: $cart-background;
	-webkit-transition: width 0.7s; /* For Safari 3.1 to 6.0 */
	transition: width 0.7s;
	font-family: "Open Sans";

	&__checkout {
		width: 100%;
		background-color: $color-black;
		color: $color-white;
		height: 50px;
		border: none;
		border-radius: 2px;
		box-shadow: 0px 2px 0px rgba($color-black, 0.2);
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		text-align: center;
	}

	&__list {
		height: 40vh;

		&--scroll {
			/* FOR FIREFOX*/
			overflow-y: scroll;
			scrollbar-color: $color-grey-subtotal $color-black;
			scrollbar-width: thin;

			&::-webkit-scrollbar {
				width: 6px;
			}

			/* FOR CHROME */
			/* Track */
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}

			&::-webkit-scrollbar-track-piece {
				background: $color-black;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: $color-grey-subtotal;
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
			}
		}
	}

	&__item {
		display: flex;
		border-top: 2px solid #131316;
		padding: 20px 0;
		padding-right: 10px;

		&--image {
			width: 57px;
			height: 60px;
			margin-right: 20px;
		}

		&--info {
			width: 100%;
			&--title {
				font-size: 14px;
				font-weight: 600;
				color: $color-white;
			}
			&--size-style,
			&--quantity {
				font-size: 12px;
				color: #999999;
				font-weight: 300;
				display: flex;
				justify-content: space-between;
			}
			&--price {
				font-size: 14px;
				line-height: 10px;
				color: $color-cart-price;
				font-weight: 400;
				text-align: right;
			}
		}
	}

	&__title {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 35px 0;

		&--amount {
			width: 16px;
			height: 16px;
			background-color: $color-cart-price;
			border-radius: 50%;
			text-align: center;
			font-size: 11px;
			line-height: 15px;
			color: $color-black;
			font-weight: 700;
			position: absolute;
			top: 10px;
			left: -24px;
			letter-spacing: 0;
		}

		&--text {
			display: inline-block;
			font-size: 24px;
			font-weight: 700;
			margin: 0 5px;
			letter-spacing: -1px;
			line-height: 1px;
			text-align: center;
			color: $color-white;
			position: relative;
		}
	}

	&__hidden {
		width: 0;
		-webkit-transition: width 0.7s; /* For Safari 3.1 to 6.0 */
		transition: width 0.7s;
	}

	&__subtotal {
		display: flex;
		justify-content: space-between;
		margin: 20px 0;

		&--1st {
			font-size: 14px;
			color: #7d7d7d;
			font-weight: 400;
		}

		&--2nd {
			font-size: 24px;
			line-height: 25px;
			color: $color-cart-price;
			font-weight: 400;
			text-align: right;

			&--installments {
				display: block;
				font-size: 12px;
				color: $color-grey-subtotal;
				opacity: 0.7;
			}
		}
	}
}
