.cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 500px;
	height: 100vh;
	padding: 0 20px;
	background-color: $cart-background;
	-webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
	transition: width 0.4s;
	font-family: "Open Sans";
	margin-left: -250px;

	@include respond(phone) {
		width: 100%;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__checkout {
		width: 100%;
		background-color: $color-black;
		color: $color-white;
		cursor: pointer;
		height: 50px;
		border: none;
		border-radius: 2px;
		box-shadow: 0px 2px 0px rgba($color-black, 0.2);
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		text-align: center;
	}

	&__empty {
		font-size: 36px;
		display: block;
		text-align: center;
		position: absolute;
		top: 20%;
		left: 30%;
		color: $color-white;
	}

	&__list {
		height: 40vh;

		@include respond(phone) {
			height: 60vh;
			padding: 0 10px;
		}

		&--scroll {
			/* FOR FIREFOX*/
			overflow-y: scroll;
			scrollbar-color: $color-grey-subtotal $color-black;
			scrollbar-width: thin;

			&::-webkit-scrollbar {
				width: 6px;
			}

			/* FOR CHROME */
			/* Track */
			&::-webkit-scrollbar-track-piece {
				background: $color-black;
			}
		}
	}

	&__item {
		display: flex;
		border-top: 2px solid #131316;
		padding: 20px 0;
		padding-right: 10px;

		&__delete {
			opacity: 0.5;
			color: $color-white;
			& .cart__item--info--style,
			& .cart__item--info--quantity p:first-child,
			& .cart__item--info--price,
			& select {
				text-decoration: line-through;
				background-color: rgba($cart-background, .5);
			}
		}

		&--image {
			width: 57px;
			height: 60px;
			margin-right: 20px;
		}

		&--info {
			width: 100%;
			&--title {
				font-size: 14px;
				font-weight: 600;
				color: $color-white;
				position: relative;
			}
			&--size {
				/* styling */
				background-color: $cart-background;
				cursor: pointer;
				border-radius: 4px;
				display: inline-block;
				color: #999999;
				padding: 1px 10px 1px 1px;
				border: 1px solid rgba(153, 153, 153, 0.4);

				/* reset */
				margin: 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-appearance: none;
				-moz-appearance: none;

				background-image: linear-gradient(45deg, transparent 50%, gray 50%),
					linear-gradient(135deg, gray 50%, transparent 50%);
				background-position: calc(100% - 7px) calc(1em - 5px), calc(100% - 2px) calc(1em - 5px),
					calc(100% - 2.5em) 0.5em;
				background-size: 5px 5px, 5px 5px, 1px 1.5em;
				background-repeat: no-repeat;
			}
			&--style {
				display: inline-block;
				font-size: 12px;
				color: #999999;
				font-weight: 300;
				margin-left: 5px;
			}

			&--quantity {
				font-size: 12px;
				color: #999999;
				font-weight: 300;
				display: flex;
				justify-content: space-between;
				align-items: center;

				@include respond(phone) {
					flex-wrap: wrap;
				}
				&--input {
					display: flex;
					align-items: center;
					& > input {
						width: 36px;
						height: 36px;
						border-radius: 5px;
						border: 1px solid #dfdfdf;
						width: 30px;
						height: 30px;
						margin: 0 10px;
						font-size: 12px;
						font-weight: 600;
						text-align: center;
					}
					& > p {
						font-size: 14px;
						color: #dfdfdf;
						border: 1px solid #dfdfdf;
						width: 25px;
						border-radius: 50%;
						text-align: center;
						font-weight: bold;
						cursor: pointer;
					}
				}
			}
			&--price {
				font-size: 14px;
				line-height: 10px;
				color: $color-cart-price;
				font-weight: 400;
				text-align: right;
			}
		}

		&--remove {
			transition: color 0.7s ease;
			position: absolute;
			cursor: pointer;
			right: 0;
			color: $color-black;
			display: inline-block;
			transform: scaleX(1.5);
			font-family: Arial;
			font-weight: bold;
			&:hover {
				color: $color-white;
			}
		}
	}

	&__title {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 35px 0;

		@include respond(phone) {
			padding: 15px 0;
		}

		&--amount {
			cursor: pointer;
			width: 16px;
			height: 16px;
			background-color: $color-cart-price;
			border-radius: 50%;
			text-align: center;
			font-size: 11px;
			line-height: 15px;
			color: $color-black;
			font-weight: 700;
			position: absolute;
			top: 10px;
			left: -24px;
			letter-spacing: 0;
		}

		&--logo {
			cursor: pointer;
		}

		&--text {
			display: inline-block;
			font-size: 24px;
			font-weight: 700;
			margin: 0 5px;
			letter-spacing: -1px;
			line-height: 1px;
			text-align: center;
			color: $color-white;
			position: relative;
		}
	}

	&__hidden {
		width: 0;
		padding: 0;
	}

	&__subtotal {
		display: flex;
		justify-content: space-between;
		margin: 20px 0;

		@include respond(phone) {
			padding: 0 10px;
		}

		&--1st {
			font-size: 14px;
			color: #7d7d7d;
			font-weight: 400;
		}

		&--2nd {
			font-size: 24px;
			line-height: 25px;
			color: $color-cart-price;
			font-weight: 400;
			text-align: right;

			&--installments {
				display: block;
				font-size: 12px;
				color: $color-grey-subtotal;
				opacity: 0.7;
			}
		}
	}
}
