.product {
	display: inline-block;
	flex-grow: 1;
	width: calc(100% * (1/3) - 10px - 1px);
	text-align: center;
	margin-bottom: 50px;

	&__image {
		cursor: pointer;
	}

	&__installment {
		font-size: 14px;
		color: #999999;
		line-height: 19px;
	}

	&__price {
		position: relative;
		font-size: 12px;
		margin-top: 12px;
		line-height: 17px;
		&--second {
			&-1 {
				font-weight: bold;
				font-size: 24px;
			}

			&-2 {
				font-size: 12px;
				font-weight: 400;
			}
		}

		&--topline {
			position: absolute;
			top: -8px;
			left: 49%;
			width: 13px;
			height: 2px;
			background-color: #dfbd00;
		}
	}

	&__title {
		position: relative;
		color: $color-product-text-1;
		font-size: 14px;
		width: 288px;
		margin: auto;
		cursor: pointer;
	}
}
