.products-list {
	display: flex;
	width: 70%;
	flex-wrap: wrap;
	margin: 90px auto;

	@include respond(phone) {
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin: 20px auto;
	}
}
