<div class="cart">

  <div class="cart-head">
    <div class="cart-title">
      <span class="cart-counter">3</span>
      <span class="icon-cart"></span> Sacola
    </div>
  </div>

  <div class="cart-list">
    <ul class="product-list product-list--horizontal">
      <li class="product-item">
        <div class="product-item__image">
          <img ng-src="assets/images/{{product.id}}.jpg" alt="{{product.title}}">
        </div>
        <div class="product-item__title">
          Camisa Nike Corinthians III 2014 s/nº  Nike Corinthians III 2014 s/nº
          <ul class="product-item__details">
            <li>
              GG | Preto e branco
            </li>
            <li>
              Quantidade: 2
            </li>
          </ul>
        </div>
        <div class="product-item__price">
          R$ 149,90
        </div>
      </li>
        <li class="product-item">
          <div class="product-item__image">
            <img ng-src="assets/images/{{product.id}}.jpg" alt="{{product.title}}">
          </div>
          <div class="product-item__title">
            Camisa Nike Corinthians III 2014 s/nº  Nike Corinthians III 2014 s/nº
            <ul class="product-item__details">
              <li>
                GG | Preto e branco
              </li>
              <li>
                Quantidade: 2
              </li>
            </ul>
          </div>
          <div class="product-item__price">
            R$ 149,90
          </div>
        </li>
          <li class="product-item">
            <div class="product-item__image">
              <img ng-src="assets/images/{{product.id}}.jpg" alt="{{product.title}}">
            </div>
            <div class="product-item__title">
              Camisa Nike Corinthians III 2014 s/nº  Nike Corinthians III 2014 s/nº
              <ul class="product-item__details">
                <li>
                  GG | Preto e branco
                </li>
                <li>
                  Quantidade: 2
                </li>
              </ul>
            </div>
            <div class="product-item__price">
              R$ 149,90
            </div>
          </li>
    </ul>
  </div>

  <div class="cart-subtotal">
    <div class="cart-subtotal__text">
      Subtotal
    </div>
    <div class="cart-subtotal__sum">
      <div class="cart-subtotal__sum-total">
        <div class="cart-subtotal__sum-total__value">
          333
        </div>
        ou em até 10 X R$ 37,97
      </div>
    </div>
  </div>

  <div class="cart-buy">
    <button class="btn">Comprar</button>
  </div>

</div>
