/**
 * MAIN
 *
 * Used just to import files
 */

/**
 * Settings
 */

@import "settings/spacing.scss";

/**
 * Base
 *
 * Base styles for our application. Ultra generic things goes here
 */

@import "base/normalize.scss";
