/**
 * Main
 *
 * Used just to import files
 */

/**
 * Tools
 */

@import "tools/mixins/clearfix.scss";
@import "tools/mixins/attention.scss";

/**
 * Settings
 */

@import "settings/spacing.scss";
@import "settings/colors.scss";

/**
 * Base
 *
 * Base styles for our application. Ultra generic things goes here
 */

@import "base/normalize.scss";
@import "base/page.scss";

/**
 * Components
 *
 * The true components here. Following SuitCSS naming conventions
 */

@import "components/EntryPoint.scss";
@import "components/Collection.scss";
@import "components/Bag.scss";
@import "components/BagList.scss";
@import "components/ProductItem.scss";
@import "components/ProductPrice.scss";
@import "components/MicroHr.scss";
@import "components/Button.scss";
