/**
 * MAIN
 *
 * Used just to import files
 */

/**
 * Tools
 */

@import "tools/mixins/clearfix.scss";

/**
 * Settings
 */

@import "settings/spacing.scss";

/**
 * Base
 *
 * Base styles for our application. Ultra generic things goes here
 */

@import "base/normalize.scss";
@import "base/page.scss";

/**
 * Components
 *
 * The true components here. Following SuitCSS naming conventions
 */

@import "components/EntryPoint.scss";
@import "components/Collection.scss";
